* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.page_login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120.6deg, #c0f3f3 40%, #83acfa 99.05%);
}


.login_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.container {
    background-color: #E5E9F2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;

}

.login_desc_background {
    background-image: url('../../media/background/patas.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 10%;
}

.login_desc {
    background-color:  rgb(91, 45, 145);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.login_desc h1 {
    color: #FFF;
    margin-bottom: 20px;
}

.login_desc p {
    color: #FFF;
    max-width: 480px;
    width: 80%;

}

.login_desc h2 {
    margin-top: 40px;
    z-index: 10;
}

.login_desc h2 a {
    color:  rgb(91, 45, 145);
    text-decoration: none;
    border: 2px solid #FFF;
    background-color: #FFF;
    padding: 10px 30px 15px 30px;
    border-radius: 30px;
}

.login_desc h2 a:hover {
    margin-top: 40px;
    color: #FFF !important;
    background-color: rgb(91, 45, 145);

}

.area_btn {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_login {

    margin-top: 40px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid  rgb(91, 45, 145);
    background-color:  rgb(91, 45, 145);
    color: #FFF;

    padding: 10px 30px 15px 30px;
    border-radius: 30px;
}

.btn_login:hover {
    font-weight: bold;
    color:  rgb(91, 45, 145);
    background-color: #FFF;
}

.single_input {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
    align-items: center;
}

.single_input input {
    width: 60%;
    max-width: 420px;
    height: 40px;
    border: none;
    border-bottom: 1px solid  rgb(91, 45, 145);
    margin-left: 10px;
}

.text_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text_login h1 {
    color:  rgb(91, 45, 145);
    font-weight: 800;
    margin-bottom: 30px;
}

.text_login h3 {
    margin-top: 10px;
    font-weight: 600;
}


@media (max-width: 820px) {
    .container {
        display: flex;
        flex-direction: column;
    }


    .login_desc {

        border-radius: 10px 10px 0px 0px;
        padding: 20px;
    }
}