* {
    text-decoration: none;
}

.sidebar_area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items:flex-end;
}

.divisao_menu {
    width: 240px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 1px #4A4A4A;
}

.divisao_menu ul li {
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(180, 177, 177, 0.178);
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    color: rgb(68, 96, 119);
}

a:visited {
    color: rgb(39, 63, 83);
}


a:link {
    text-decoration: none;
}
