.area_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
    border-left: 1px solid #4142442c;
    border-right: 1px solid #4142442c;
}

.area_loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    min-width: 60%;
    min-height: 80vh;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sem_post {
    font-size: 22px;
    color: #29303a;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    min-width: 60%;
    min-height: 80vh;
    padding: 20px;
}

.area_nav_feeds {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    margin-bottom: 10px;
}

.container_justify_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container_alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn_amigos_active {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    margin-left: 30px;
    background-color: #5B7499;
    border: 0;
    color: #FFF;
    box-shadow: 0px 2px 4px 1px rgb(67, 114, 153);
    padding: 5px;
    width: 120px;
}

.btn_alertas_active {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    margin-left: 30px;
    background-color: #5B7499;
    border: 0;
    color: #FFF;
    box-shadow: 0px 2px 4px 1px rgb(67, 114, 153);
    padding: 5px;
    width: 120px;

}

.btn_amigos {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    margin-left: 30px;
    background-color: #FFF;
    border: 0;
    color: #5B7499;
    padding: 5px;
    width: 120px;

}

.btn_alertas {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    margin-left: 30px;
    background-color: #FFF;
    border: 0;
    color: #5B7499;
    padding: 5px;
    width: 120px;


}

.post {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 2px rgb(67, 114, 153);

}

.user_post {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.area_btn_deletar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn_deletar img {
    width: 25px;
    cursor: pointer;
}


.user_alert {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 6px 6px 0px 0px;
    justify-content: space-between;
}

.flex_row {
    display: flex;
}

.area_alert {
    width: 100%;
    margin-bottom: 20px;
}

.avatar {
    height: 60px;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
    object-fit: cover;
    object-position: top;
}

.area_cartaz_alert {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
}


.header_alert_donating {
    background-color: #c9c636;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.header_alert_lost {
    background-color: #cc4747;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.header_alert_found {
    background-color: #4abb4f;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.header_alert_treatment {
    background-color: #292b29;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.title_header {
    color: #FFF;
    font-size: 2.5em;
}

.subTitle_header {
    color: #FFF;
    font-size: 1.5em;
}

.body_alert_lost {
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.area_photo_alert {
    flex: 1;
    padding: 10px;
}

.area_infor {
    flex: 1;
    padding: 10px;

}

.photo_alert {
    min-width: 360px;
    max-width: 400px;
}

/*  */
.name_data {
    display: flex;
    flex-direction: column;
}

.user_name {
    margin: 0;
}

.link_name {
    text-decoration: none;
    color: #29303a;
    font-weight: bold;
}

.link_name:hover {
    color: #3f4957;
    transition: 0.4s;
}

.data_post {
    margin: 0;
    font-size: 12px;
}

.post_body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.post_text {
    width: 100%;
    padding: 5px 10px;
    text-align: justify;
    border: 2px solid #3f495736;
    background-color: #f0f2f5;
}

.post_photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.post_photo img {
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;

}

.subtitle {
    width: 100%;
    padding: 5px 10px;

    border: 2px solid #3f495736;
    background-color: #f0f2f5;
}

.interacoes {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid #5b74994b;
    border-bottom: 1px solid #5b74994b;
    margin-top: 5;
    padding: 10px;
}

.interacao_like {
    flex: 1;
}

.interacao_comment {
    flex: 5;
}

.area_comments {
    border-top: 1px solid #4c5f7c4b;
    margin-top: 5px;
}

.sentinela {
    width: 100%;
    height: 10px;
    background-color: red;
}


.area_marked_pets {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.area_marked_pets h4 {
    font-weight: bold;
}

.marked_pets {
    margin-left: 10px;
}

.mark {
    border: 1px solid #29303a;
    padding: 2px;
    border-radius: 2px;
    background-color: #3f4957;
    color: #FFF !important;
    font-weight: bold;
}

.mark:hover {
    transition: 0.3s;
    background-color: #266e34;
}


details {
    border: 2px solid rgba(131, 131, 131, 0.205);
    padding: 10px;
}

summary {
    border: 2px solid rgba(49, 56, 78, 0.13);
    padding: 5px;
}


@media (max-width: 1080px) {}

@media (max-width: 860px) {
    .post {
        width: 100%;
    }



}

@media (max-width: 390px) {}