.page_register {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(60, 192, 159);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    padding: 20px;
    border-radius: 10px;
}

.register_desc {
    min-width: 260px;
}

.register_desc h1 {
    margin-bottom: 10px;
    text-align: center;
    color: rgb(60, 192, 159);
    font-weight: 800;
}

.register_desc p {
    padding: 5px;
    text-align: justify;
    border-bottom: 1px solid rgba(63, 61, 61, 0.226);
}

.register_inputs {
    border: 1px solid rgba(97, 94, 94, 0.226);
    border-radius: 6px;
    margin-top: 20px;
    width: 80%;
    padding: 10px;
}

.single_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.single_input input {
    width: 60%;
    height: 40px;
    border: none;
    border-bottom: 1px solid rgb(60, 192, 159);
    margin-left: 10px;
}

.single_input label {
    flex: 1;
    font-weight: bold;
    color: #2a3852;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single_input input {
    flex: 4;
    height: 30px;
}

.single_input select {
    height: 40px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgb(60, 192, 159);
}

.info_password {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* .btn_register {
    width: 110px;
    height: 40px;
    margin-top: 40px;
    
    background-color: #ffffff;
    cursor: pointer;
} */

.btn_register {

    margin-top: 40px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
    float: right;
    border: 2px solid rgb(60, 192, 159);
    background-color: rgb(60, 192, 159);
    color: #FFF;
    padding: 10px 30px 15px 30px;
    border-radius: 30px;
}

.btn_register:hover {
    font-weight: bold;
    color: rgb(60, 192, 159);
    background-color: #FFF;
}