.area_galeria {
    width: 100%;
    padding: 10px;
}

.sentinela {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.container {
     /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px; */
    columns: 5 240px;
    column-gap: 0.5em;

}

.area_image {
    /* border: 2px solid rgba(116, 116, 116, 0.144);
    padding: 10px;
    margin: 10px;
    min-width: 180px;
    max-width: 300px; */
}

.image {
    /* width: 100%;
    height: 260px;
    object-fit: cover; */
    max-width: 100%;
    margin-bottom: 0.5em;
    display: block;
    outline: 2px solid #CCC;
    border: 2px solid #AAA;
    outline-offset: -10px;
}

.text {
    max-width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.date {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 25, 25, 0.897);
}

.delete_modal {
    color: #FFF;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.404);
    cursor: pointer;
}

.delete_modal p {
    border-bottom: 2px solid #000;
}

.delete_modal p:hover {
    border-bottom: 2px solid #FFF;
}

.image_modal {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
}

.date_modal {
    color: #FFF;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.404);
}

.text_modal {
    color: #FFF;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.404);
}

.area_modal {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}