.area_novo_post {
    width: 80%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 6px;
    box-shadow: 0px 2px 4px 1px #4A4A4A;
    transition: 0.3s;
}

.area_novo_post:hover {
    box-shadow: 0px 2px 4px 1px rgb(67, 114, 153);
}

.area_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}



.imagePreview img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    margin: 10px;
}

.input_text {
    width: 80%;
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
}

.form {
    padding: 10px;
}

.area_acoes {
    border-top: 1px solid #a2a5a849;
    display: flex;
    align-items: center;
    justify-content: right;
}

.avatar {
    height: 60px;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
    object-fit: cover;
    object-position: top;
}

.flex_row {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
}

.name {
    margin: 0;
    font-weight: bold;
    color: #29303a;
}

.btn_enviar {
    width: 90px;
    height: 40px;
    float: right;
    background-color: #00796B;
    border: 0;
    font-weight: bold;
    color: #FFF;
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.btn_enviar:hover {
    background-color: #00796B;
}

.Upload_Form {
    background-color: #FFF;
    border: 2px solid #3d3f43;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.select_pet {
    margin-top: 5px;
}

.single_input {
    padding: 10px;
}

.area_sidebar_ong {
    flex: 1;
    min-height: 100%;
}

@media (max-width: 1080px) {

    .area_sidebar_ong {
        display: none;
    }
}



@media (max-width: 860px) {

    .area_novo_post {
        width: 100%;
        padding: 10px;

    }
}

@media (max-width: 390px) {

    .area_novo_post {
        width: 100%;
        padding: 0px;
        margin-top: 10px;
    }
}