.vaccine_pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_download {
    margin-bottom: 20px;
}

.area_card_vaccine {
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 832px;
    background-color: #ffffff;
    border: 2px solid rgb(185, 184, 184);
    padding: 20px;
    justify-content: space-around;
}

.area_card_vaccine h1 {
    text-align: center;
    margin-bottom: 20px;

}

.area_card_vaccine h3 {
    text-align: center;
}

.vaccine {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.area_registro {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}


@media (max-width: 1080px) {

    .area_card_vaccine {

    
    }

    
}

