.square {
    background-color: #294369;
    padding: 5px;
    margin: 0px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top:0;
    left: 0;
}

.title {
    color: #FFF;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 90%;
}

.nav_button {
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
}

.btn_sair {
    width: 80px;
    height: 60px;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    border: 0;
    cursor: pointer;
}


.logout:hover {
    background-color: #4a668f;
    transition: 0.5s;
    border-radius: 180px;
}

.logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-right: 20px;

}