* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    width: 100%;
}

.area_body {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    min-height: calc(100vh - 40px);

}

.area_sidebar {
    flex: 1;
    background-color:#585e57;
}

.area_posts {
    flex: 2;
}

.area_ongs {
    flex: 1;
    min-height: 100%;
}


@media (max-width: 1080px) {

    .area_ongs {
        display: none;
    }
}



@media (max-width: 860px) {

    .area_sidebar {
        display: none;
    }
}