.area_galeria {
    width: 100%;
    padding: 10px;
}

.sentinela {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px;

}

.area_image {
    border: 2px solid rgba(116, 116, 116, 0.144);
    padding: 10px;
    margin: 10px;
    min-width: 180px;
    max-width: 300px;
}

.image {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.text {
    max-width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.date {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 25, 25, 0.897);
}

.image_modal {
    width: 100%;
    height: 100%;
}

.date_modal {
    color: #FFF;
    padding: 5px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.404);
}

.text_modal {
    color: #FFF;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.404);
}

.area_modal {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}