.area_comments {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #DDD;
    margin-bottom: 1px;
    width: 100%;

}

.comment_area {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.area_comments input {
    width: 80%;
    margin: 0 auto;
    
}


.btn_enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    margin-left: 5px;
}
.child_comments {
    margin-top: 10px;
    margin-left: 40px;
    background-color: #EEE;
}

.header_comment {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.area_100 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn_deletar img {
    width: 25px;
    cursor: pointer;
}

.comment {
    display: flex;
    align-items: center;
    flex: 2;
    padding: 5px;
    margin-left: 5px;
    border-left: 1px solid #DDD;
}

.autor_comment {
    display: flex;
    flex-direction: row;
    flex-direction: 1;
}

.avatar {
    height: 40px;
    width: 60px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 6px;
    object-fit: cover;
    object-position: top;
}

.name_date {
    display: flex;
    flex-direction: column;
}

.name_date .name {
    font-weight: bold;
}

.name_date .date {
    font-size: 12px;
}

.name {
    text-decoration: none;
    color: #29303a;
    font-weight: bold;
}

.name:hover {
    color: #3f4957;
    transition: 0.4s;
}
